<footer class="mt-5 py-5" style="background-color: #daf4ff; position: relative; min-height: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 text-dark">
        <img src="/assets/img/latest.svg" width="128px" class="mb-3">
        <br>
        <small>© 2019 Cowrie Payments, all rights reserved</small>
        <br>
        <small>
            Illustration by 
            <a href="https://www.freepik.com/free-photos-vectors/technology">vectorpouch</a>
        </small>
      </div>
      <div class="col-lg-6 col-12 text-lg-right mt-4 mt-sm-0">
        <h6>
          <!-- <a class="ml-2 text-dark" href="#0"><i class="fab fa-twitter"></i></a> -->
          <a class="ml-2 text-dark" href="https://github.com/cowriepayments"><i class="fab fa-github"></i> cowriepayments</a>
        </h6>
      </div>
    </div>
  </div>
</footer>